*{
    font-size: 10px;
    background-color: whitesmoke;
    font-weight: bold;
}

.header{
    background-color:lightgray;
    text-align: center;
    font-size: 4rem;
    border: 0.25rem lightgray solid;
    border-radius: 1.75rem;
    color: black;
    margin-bottom: 10rem;
    font-weight: bold;
}

.newItem{
    margin-bottom: 7.5rem;
}

.list-group-item{
    font-size: 2rem;
}

.icon{
    float: right;
    vertical-align: center;
}

.confirm{
    vertical-align: center;
}