@page
@model HappyBridesUpdated.Pages.Home

<link rel="stylesheet" href="css/Home.css">

<div class="container-fluid ownContainer">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2 ownWeddingHeader" style="font-size: 2rem">
            Your Weddings
        </div>
        <div class="col-10"></div>
    </div>
    <div class="row ownWedding">
        <div class="col-2"></div>
        <div class="col-4">
            No current wedding
        </div>
        <div class="col-8"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2 ownWeddingHeader" style="font-size: 2rem">
            Others Weddings
        </div>
        <div class="col-10"></div>
    </div>
    <div class="row ownWedding">
        <div class="col-2"></div>
        <div class="col-4">
            No current wedding
        </div>
        <div class="col-8"></div>
    </div>
</div>