@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/index.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 header">Happy Brides</div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 IDinput">
            <label for="userID" class="IDinput">Input user ID</label>
            <input type="password" class="form-control" id="userID">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2 loginButton">    
            <a href="/list" class="btn btn-info btn-lg" role="button">Login here</a>
        </div>
        <div class="col-2 registerLink">    
                    <a href="/register" class="btn btn-info btn-lg" role="button">Register here</a>
                </div>
        <div class="col-4"></div>
    </div>
</div>