@page
@model HappyBridesUpdated.Pages.list

@{
    
}

<link rel="stylesheet" href="css/list.css"/>
<script src="js/list.js"></script>

@*
<div class="modal fade" id="codeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uw unieke code</h4>
                </div>
                <div class="modal-body">
                    <p>X4s4f5EE789p</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-bs-dismiss="modal">Oké</button>
                </div>
            </div>
        </div>
    </div>
    *@

@if(Model.editing == false)
{
<div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="post">
                <button class="btn btn-info btn-lg w-100 " asp-page-handler="Editing">Edit page</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
}

@if (Model.editing)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="post">
                    <button class="btn btn-info btn-lg w-100 edit" asp-page-handler="Save">Save List</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <span class="col-6 list">
                <form method="post">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-control" asp-for="Name" name="itemInput" type="text">
                            <div class="text-danger error">@Model.Message</div>
                            <button class="btn btn-info btn-lg confirm" asp-page-handler="Add" type="button">Add item</button>
                        </li>
                    </ul>
                </form>
            </span>
            </div>
            <div class="col-3"></div>
        </div>
}
