@page
@model HappyBridesUpdated.Pages.list

@{
    
}

<link rel="stylesheet" href="css/list.css"/>
<script src="js/list.js"></script>

<div class="modal fade" id="codeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uw unieke code</h4>
                </div>
                <div class="modal-body">
                    <p>X4s4f5EE789p</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-bs-dismiss="modal">Oké</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 header"><a href="/Index" class="header">Happy Brides</a></div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="btn btn-info btn-lg w-100 newItem">Add a new item</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 list">
            <ul class="list-group">
                <li class="list-group-item"><input class="form-control" name="itemInput" type="text"><button class="btn btn-info btn-lg confirm" type="button">Confirm item name</button><button class="btn icon delete" type="button"><i class="fas fa-times-circle"></i></button><button class="btn icon down" type="button"><i class="fas fa-arrow-alt-circle-down"></i></button><button type="button" class="btn icon up"><i class="fas fa-arrow-alt-circle-up"></i></button></li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
</div>

