@page
@using HappyBridesUpdated.Model
@model HappyBridesUpdated.Pages.GiftsList

<link rel="stylesheet" href="css/list.css"/>

<script>
    function test(int){
        let help;
        help = int;
    }
</script>

@{
    Model.IsBride = Model.CheckIsBride();
    Model.LoadGifts();
}
@if (Model.IsBride)
{
<div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <span class="col-6 list">
                <form method="post">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-control" asp-for="Name" @*name="itemInput"*@ type="text">
                            @*div class="text-danger error">@Model.Message</div>*@
                            <button class="btn btn-info btn-lg confirm" asp-page-handler="Add" type="submit">Add item</button>
                        </li>
                    </ul>
                </form>
            </span>
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 list">
                
                    <ul class="list-group">
                        @foreach (Gift gift in Model.Gifts)
                        {
                            <li class="list-group-item">@gift.Name<a href="/List?handler=Remove&id=@gift.idGifts" class="button btn icon delete"><i class="fas fa-times-circle"></i></a><a href="/List?handler=Edit&priority=@gift.Priority&id=@gift.idGifts&direction=down" class="btn icon down button"><i class="fas fa-arrow-alt-circle-down"></i></a><a href="/List?handler=Edit&priority=@gift.Priority&id=@gift.idGifts&direction=up" class="btn icon up button"><i class="fas fa-arrow-alt-circle-up"></i></a></li>
                        }
                    </ul>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    

}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <ul>
                    @foreach (Gift gift in Model.Gifts)
                    {
                        <li class="list-group-item">' + @gift.Name + '@*Add buying option*@</li>
                    }
                </ul>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
}

@* <li class="list-group-item"><input class="form-control" name="itemInput" type="text"><button class="btn btn-info btn-lg confirm" type="button">Confirm item name</button><button class="btn icon delete" type="button"><i class="fas fa-times-circle"></i></button><button class="btn icon down" type="button"><i class="fas fa-arrow-alt-circle-down"></i></button><button type="button" class="btn icon up"><i class="fas fa-arrow-alt-circle-up"></i></button></li> *@