@page
@model HappyBridesUpdated.Pages.register

@{
    
}

<link rel="stylesheet" href="css/register.css"/>

<div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <label class="inputs" for="naam">Jullie namen</label>
                <input type="text" class="form-control" id="naam"/>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <label class="inputs" for="email">E-mail</label>
            <input type="text" class="form-control" id="email"/>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <label class="inputs" for="isBride">Are you hosting the wedding or were you invited to someone else's?</label>
            <select id="isBride" class="form-select">
                <option value="0">I am hosting a wedding</option>
                <option value="1">I am going to someone else's wedding</option>
            </select>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <label class="inputs" for="passWD">Password</label>
            <input type="password" class="form-control" id="passWD"/>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <label class="inputs" for="passConfirm">Confirm your password</label>
            <input type="password" class="form-control" id="passConfirm"/>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    <a href="/list" type="button" class="btn btn-info btn-lg w-100">Registreren</a>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </div>