.newItem{
    margin-bottom: 7.5rem;
}

.edit{
    margin-bottom: 1rem;
}

.list-group-item{
    font-size: 2rem;
}

.icon{
    float: right;
    vertical-align: center;
}

.confirm{
    vertical-align: center;
}