.newItem{
    margin-bottom: 7.5rem;
}

.edit{
    margin-bottom: 1rem;
}

.list-group-item{
    font-size: 2rem;
}

.boughtItems{
    background: lightgray;
    color: lightslategray;
}

.icon{
    float: right;
    vertical-align: center;
}

.confirm{
    vertical-align: center;
}

.error{
        margin-bottom: 1rem;
        font-weight: bold;
        background-color: #fff;
}

.header{
    margin-bottom: 10rem;
}

.KeyString{
    background: lightgray;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 3.5rem;
}

.BoughtByName{
    background: lightgray;
    text-align: center;
    float: right;
    border-radius: 5px;
}