*{
    font-size: 10px;
    background-color: whitesmoke;
    font-weight: bold;
}

.btn{
    text-align: center;
}

.namen{
    font-size: 1.25rem;
}

#bruidNaam{
    margin-bottom: 1rem;
}

#bruidegomNaam{
    margin-bottom: 5rem;
}